.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #EDEDED;
  min-height: 100vh;
  font-family: "Lusitana", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9pt;
  color: #282828;
}

div {
  border: 2px solid #282828;
}

h1 {
  font-family: "Boucherie Block W05 Bold";
  font-weight: 400;
  font-style: normal;
  font-size: 18pt;
  font-weight: bold;
  color: #282828;
}

textarea {
  width: 100%;
  padding: 1rem;
  font-size: inherit;
  border: 2px solid #282828;
  resize: vertical;
  font-family: inherit;
  background-color: inherit;
  color: #282828;
}

textarea:focus {
  outline: none;
  border-color: #282828;
}